/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  background-color: black;
}

.card_container,
.game_and_score {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
/*------------------------------------------------------Decision-Box--------------------------------------------------------*/

.decision_card {
  position: absolute;
  z-index: 1;
  justify-self: center;
  background-color: blue;

  border: 2px black solid;
  border-radius: 12px;
  padding: 1rem;
}

/*---------------------------------------------------Decision-Box-Buttons--------------------------------------------------------*/

.decision_card div {
  display: flex;
  gap: 10rem;
}

.decision_card button {
  appearance: none;

  border-radius: 6px;
  border: none;
  padding: 0.5rem 1rem;
  box-shadow: 0px 6px 8px 2px rgb(255, 99, 71, 0.3);
  background: rgb(200, 77, 71, 0.9);
  font-size: 1rem;
  color: #fff;

  cursor: pointer;
}

.decision_card button:hover {
  border: none;
  font-size: 1.1rem;
  background: rgb(255, 77, 71, 0.9);
  box-shadow: 0px 3px 2px 1px rgb(255, 99, 71, 0.9);
}

.decision_card button:active {
  border: none;
  box-shadow: none !important;
  transform: translateY(6px);
  transition: All 250ms ease;
}

/*----------------------------------------------------------Main-Body----------------------------------------------------------*/

.main_body {
  display: grid;
  width: 100vw;
  position: relative;
}

.header {
  background-color: red;
}

.game_and_score > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  background-color: yellow;
}

/*--------------------------------------------------------Game-Board------------------------------------------------------------*/

.game_board {
  background-color: red;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);

  visibility: hidden;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.game_board :nth-child(5) {
  border: 2px solid black;
}

.game_board :nth-child(2),
.game_board :nth-child(8) {
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.game_board :nth-child(4),
.game_board :nth-child(6) {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.box button {
  height: 2rem;
  width: 2rem;
}
/*--------------------------------------------------------After-Battle------------------------------------------------------------*/
.after-battle {
  background-color: yellow;
  padding: 2rem;

  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: hidden;

  z-index: 1;
}
