/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------Body--------------------------------------------------------*/

body {
  background-image: url("marjan-blan-5Ft4NWTmeJE-unsplash.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

body > * {
  font-family: "indie flower";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2;
  color: rgb(63, 35, 5, 0.8);
}

button {
  box-shadow: 0px 6px 8px 2px rgb(63, 35, 5, 0.3);
  background: rgb(63, 35, 5, 0.7);
  color: rgb(245, 245, 245, 0.8);
}

.card_container {
  display: grid;
  justify-content: center;
  align-items: center;
}
/*------------------------------------------------------Decision-Box--------------------------------------------------------*/

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decision_card {
  letter-spacing: 0.2rem;
  line-height: 1;
  justify-self: center;
  margin-top: 10%;
  background-color: transparent;
  padding: 1rem;
}

fieldset div {
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1;
  margin-bottom: 1rem;
}

fieldset div input {
  margin-top: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: "indie flower";
  font-weight: 700;
  line-height: 2;

  font-size: 1rem;
  color: rgb(63, 35, 5);

  padding: 0.4rem 0;
  width: 20rem;
  border: none;
  border-bottom: 0 solid #3f2305;
  background-color: transparent;
  outline: none;
  letter-spacing: 2px;
}

fieldset div input:hover {
  border-radius: 4px;
}

fieldset div input:invalid:focus {
  color: #d55c5f;
  border-radius: 0;
}

fieldset div input + span {
  position: relative;
}

fieldset div input + span::before {
  position: absolute;
  right: -20px;
  top: -29px;
}

fieldset div input + span::after {
  letter-spacing: 2px;
  font-size: 0.9rem;
  position: absolute;
  top: 5px;
  left: 1px;
}

fieldset div input:invalid:focus + span::before {
  font-size: 1rem;
  content: "❗";
  opacity: 0.7;
  color: #d55c5f;
}

fieldset div input:invalid:focus + span::after {
  content: "Must have more than 4 digits";
  color: #d55c5f;
}

fieldset div input:valid + span::before {
  font-size: 1.2rem;
  content: "✓";
  opacity: 1;
  color: #abc270;
}

fieldset div input::placeholder {
  font-size: 1.2;
  letter-spacing: 2px;
}

/*---------------------------------------------------Decision-Box+all-Button--------------------------------------------------------*/

fieldset button,
.after-battle button,
.box button {
  appearance: none;
  display: grid;
  justify-content: center;
  align-items: center;

  font-family: "indie flower";
  font-weight: 700;
  letter-spacing: 6px;

  border-radius: 6px;
  border: none;
  padding: 0.7rem 1rem;
  margin-top: 1.5rem;
  font-size: 1.3rem;

  cursor: pointer;
}

fieldset button:hover,
.after-battle button:hover,
.box button:hover {
  font-size: 1.1rem;
  box-shadow: 0px 6px 8px 2px rgb(245, 245, 245, 0.3);
}

fieldset button:active,
.after-battle button:active,
.box button:active {
  border: none;
  box-shadow: none !important;
  transform: translateY(6px);
  transition: All 250ms ease;
}

/*----------------------------------------------------------Main-Body----------------------------------------------------------*/

.main_body {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;

  visibility: hidden;
}

/*-----------------------------------------------------------Header----------------------------------------------------------*/

.header {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header span:nth-child(1) {
  font-size: 2rem;
}

.header button {
  font-size: 2rem;
  box-shadow: none;
  background-color: transparent;
  color: rgb(63, 35, 5, 0.7);
  cursor: pointer;
  border: none;
}

/*--------------------------------------------------------Game & Score------------------------------------------------------------*/

.game_and_score {
  flex: 1;
  margin-top: -10%;

  display: grid;
  justify-content: center;
  align-items: center;
}

.game_and_score > * {
  grid-area: 1/1;
}

/*--------------------------------------------------------Game-Board------------------------------------------------------------*/

.game_board {
  background-color: transparent;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box button {
  font-family: 'permanent marker';
  /* font-weight: 700; */
  background-color: transparent;
  font-size: 3rem;
  border: none;

  cursor: pointer;
  color: #3f2305;

  height: 6rem;
  width: 6rem;
}

.box button:hover {
  font-size: 4rem;
}

/*--------------------------------------------------------Footer------------------------------------------------------------*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 2.5rem;
  width: 100%;
  background-color: transparent;
  opacity: 0.3;
}
/*------------------------------------------------------After-Battle------------------------------------------------------------*/

.after-battle {
  background-color: rgb(223, 223, 222);
  padding: 2rem 1rem;
  font-size: 1.1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 60px;

  visibility: hidden;

  z-index: 1;
}

.after-battle div:first-of-type {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.after-battle div:last-of-type button:last-of-type {
  background-color: rgb(223, 223, 222);
  color: rgb(63, 35, 5, 0.7);
}

.after-battle table td {
  font-size: 1rem;
  padding: 0 5rem;
  text-align: center;
}

.after-battle div:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.after-battle button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
